$maxwidth = 600px
$base-font-size = 14px
$base-mask-bg = rgba(0, 0, 0, .6)
$base-btn-h = 40px
// 字体
$f12 = 12px
// 颜色
$white = #fff
$black = #000
$agile = #14c8b7
$primary = #409eff
$success = #67c23a
$warning = #f56c6c
$default = #dcdfe6